<html>
    <head>
        <title>AutoBot</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}"/>
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.9.0/css/solid.css"
            integrity="sha384-KyLwW4NRDhAz4RVatBCvFATniD3ze5rJvP1usxUFectdGgG8n+7OTcZug8s4bj5H"
            crossorigin="anonymous"/>
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.9.0/css/fontawesome.css"
            integrity="sha384-QSCxeayZXa6bvOhHReoQRGN7utvnOnY3JoBHGxM61JQQ1EXA7AT3m7dnlHXLhnCj"
            crossorigin="anonymous"/>
        <script src="{{ url_for('static', filename='gyronorm.complete.min.js') }}"></script>
        <script src="https://js.pusher.com/4.4/pusher.min.js"></script>
        <script src="{{ url_for('static', filename='map.js') }}"></script>
        <style>
            #map {
                height: 100%;
                width: 100%;
            }
        </style>
    </head>
    <body>
        <div id="track-buttons">
            <div id="track-phone"
                class="track-button active"
                onclick="toggleEventFilter('update-gps')">
                Phone
            </div>
            <div id="track-autobot"
                class="track-button"j
                onclick="toggleEventFilter('update-location')">
                AutoBot
            </div>
        </div>
        <div id="map"></div>
        <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDySjRiesEXyJQD4F8_iivwIRRQfRVtLzM&callback=initMap">
        </script>
    </body>
</html>
