@import url(https://fonts.googleapis.com/css?family=Lato|Montserrat:700);body{font-family:Lato,sans-serif;font-size:16px;color:#8a8a8a;background-color:#2a2a2a;width:100%;margin:0}a{color:#32cd32;text-decoration:none}::-webkit-scrollbar{width:0;background:transparent}::-webkit-scrollbar-thumb{background:#32cd32}.intro-container{text-align:center}.intro-container__header-lettering{color:#dfdfdf;font-family:Montserrat,sans-serif;font-size:1.8em;font-weight:700;letter-spacing:-.05em;line-height:1.7em;margin-bottom:0}.intro-container__highlight{color:#32cd32}.intro-container__content{width:80%;margin:0 auto;line-height:1.9em}.intro-container__content--link{font-size:1.05em;font-weight:700;padding:.15em;color:#9a9a9a;-webkit-transition:.2s;-moz-transition:.2s;-ms-transition:.2s;-o-transition:.2s}.intro-container__content--link:hover{background-color:#3e3e3e}.contact{text-align:center;margin:.5em}.contact__link{font-size:1em;margin:0 .75em}.portfolio{width:100%;text-align:center}.portfolio h2{font-size:3em}.portfolio i{text-align:center}@media (min-width:992px){#projects{display:grid;grid-template-columns:33% 33% 33%;margin-top:2em}}#projects .project{margin-bottom:35vh}#projects .project h3{font-size:2em}@media (min-width:992px){#projects .project h3{font-size:1.5em}}#projects .project img{height:100%;width:100%}@media (min-width:992px){#projects .project{margin-bottom:5%}}

.direction {
    font-size: 2em;
    padding: 0.5em;
    cursor: pointer;
}

.direction:hover {
    color: limegreen;
}

.direction--forward {
    display: inline-block;
}

.direction--reverse {
    display: inline-block;
}

.direction--left {
    margin-right: 2.5em;
}

.direction--right {

}

.direction--activate {
    margin-top: 1em;
    box-shadow: inset 0 0 61px #000000;
}

.left-right-container {
    display: inline-flex;
}

.video-container {
    background-color: #000;
}

video {
    width: 50vw;
}

#track-buttons {
    position: fixed;
    z-index: 9999 !important;
    display: inline-flex;
    top: 1%;
    left: 40%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.18);
}

#track-phone {
    border-right: 1px solid rgb(237, 237, 237);
    border-top-left-radius: 0.3em;
    border-bottom-left-radius: 0.3em;
}

#track-autobot {
    border-top-right-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
}

.track-button {
    cursor: pointer;
    padding: 0.5em;
    color: black;
    background-color: white;
}
.track-button:hover {
    background-color: #ececec;
}

.active {
    color: white;
    background-color: #7bb7fd;
}

